{% extends 'base.html' %}

{% block content %}

{% if category_posts %}

    <div class="container my-5">
        <h1 class="text-center">{{ cats }}</h1> <!-- Category Title Centered -->
        <br><br>

        <ul class="list-unstyled">
        {% for post in category_posts %}
            <li class="mb-4">
                <!-- Post Container -->
                <div class="card mx-auto" style="max-width: 800px;">
                    <!-- Post Title -->
                    <div class="card-body">
                        <a href="{% url 'article-detail' post.pk %}">
                            <h3 class="card-title text-center">{{ post.title }}</h3> <!-- Post Title Centered -->
                            
                        </a>
                        <p class="small text-muted text-center">
                            Author: {{ post.author.username }} - {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
                        </p>
                        
                        <!-- Edit/Delete Links (if authenticated and author) -->
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                <p class="text-center">
                                    - <a href="{% url 'update_post' post.pk %}">Edit</a> |
                                      <a href="{% url 'delete_post' post.pk %}">Delete</a>
                                </p>
                            {% endif %}
                        {% endif %}
                        
                        <!-- Post Body (first 50 characters) -->
                        <p>{{ post.body|slice:":50" }}...</p>
                    </div>

                    <!-- Post Image -->
                    <img src="{{ post.images.url }}" alt="Post image" class="card-img-bottom img-fluid mb-3">
                    

                </div> <!-- End of Post Card -->
                <br><br>
            </li>
        {% endfor %}
        </ul>
    </div> <!-- End container -->

{% else %}
    <h2 class="text-center">Sorry, this page does not exist!</h2>
{% endif %}   

{% endblock %}