{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Delete Post</h1>
        <br/><br/>
        <h3>Are you sure you want to delete: <strong>{{ post.title }}</strong>?</h3>

        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                <a href="{% url 'article-detail' post.pk %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    {% else %}
        <p>You Cannot Delete This Post Because You Are Not The Author!</p>
    {% endif %}
{% else %}
    <p>You Need To Be A Registered Member Before You Can Use This Space!</p>
{% endif %}

{% endblock %}